[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/salesoneww
[access "refs/for/refs/*"]
	read = group user/salesoneww
	push = group user/salesoneww
	label-Code-Review = -2..+2 group user/salesoneww
	label-Verified = -1..+1 group user/salesoneww
	rebase = group user/salesoneww
	removeReviewer = group user/salesoneww
	submit = group user/salesoneww
[access "refs/heads/*"]
	read = group user/salesoneww
	create = group user/salesoneww
	push = +force group user/salesoneww
	pushMerge = group user/salesoneww
[access "refs/tags/*"]
	push = group user/salesoneww
	push = +force group user/salesoneww
